* {
  padding: 0;
  margin: 0;
}
#root {
  height: 100vh;
  --track-height: 100px;
  --track-color: black;
}
#logo {
  height: 64px;
  width: fit-content;
  display: flex;
  position: relative;
}
a {
  text-decoration: none;
  color: rgb(19, 18, 18);
}
li {
  list-style: none;
}
.listImage {
  max-width: 20px;
  max-height: 20px;
}
.navbarbottom {
  height: 24px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(92, 79, 73);
  overflow: hidden;
}

#loginform {
  top: 200px;
  left: 45%;
  position: absolute;
  display: flex;
  flex-direction: column;
  font-size: 25px;
}
#UsernameForm {
  text-align: center;
}
#PasswordForm {
  padding-top: 30px;
  text-align: center;
}
.navbar {
  height: 64px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(235, 235, 233);
}
.nav-container {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-bottom: 2px;
}
.link-item:hover {
  border-bottom: 5px solid #fffb26;
}
.nav-link-container {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hamburger-menu {
  height: 64px;
  width: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: none;
  border: none;
  border-radius: 50%;
}
.hamburger-menu:hover {
  background-color: rgb(184, 170, 170);
}
.menu-bar {
  background-color: rgb(88, 84, 84);
  margin-bottom: 0.5em;
  height: 0.3em;
  width: 2.5em;
  border-radius: 0.25rem;
}
.menu-bar:nth-child(3) {
  margin-bottom: 0;
}
.menu {
  width: 100%;
  transition-duration: 500ms;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
}
.visible {
  height: 200%;
}
.hidden {
  height: 0px;
}
.link-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.link-item {
  padding: 0.5em;
  width: 50%;
  text-align: center;
}
#hehe {
  background-color: #ffffff; /* yellow */
  border: none;
  color: rgb(255, 255, 255);
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  font-size: 16px;
}
#hehe:hover {
  border: 5px solid #868686;
}
.frontpageText {
  margin: 2px;
  border-radius: 5px;
  border-color: #fffb26;
  background-color: rgb(235, 235, 233);
  display: block;
  max-width: 50%;
  margin: auto;
  text-align: center;
}
.presentname {
  text-align: center;
}
@media only screen and (min-width: 780px) {
  .nav-container {
    justify-content: space-evenly;
  }
  .nav-link-container {
    width: auto;
  }
  .menu {
    width: auto;
    height: auto;
  }
  .link-list {
    flex-direction: row;
  }
  .hamburger-menu {
    display: none;
  }
}
@media only screen and (min-width: 780px) {
  .nav-container {
    justify-content: space-evenly;
  }
  .nav-link-container {
    width: auto;
  }
  .menu {
    width: auto;
    height: auto;
  }
  .link-list {
    flex-direction: row;
  }
  .hamburger-menu {
    display: none;
  }
}

/* UUDET */
body {
  position: relative;
  height: 500px;
  background-color: red; /* For browsers that do not support gradients */
  background-image: linear-gradient(0deg, rgb(255, 230, 0), rgb(252, 252, 250));
}
.presentname {
  text-align: center;
}
.frontpageText {
  border-top: 15px;
  border-radius: 5px;
  border-color: #fffb26;
  background-color: rgb(233, 233, 233);
  display: block;
  max-width: 50%;
  margin: auto;
  margin-top: 3px;
  text-align: center;
}

.uploaddiv {
  background-color: aquamarine;
}
#buttonsbottom {
  background-color: #bb0707;
  padding: 15px;
}

/* UUDET LOPPUU*/
