.upload-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .input-field {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 2em;
    width: 40%;
    margin: 5px;
  }